body {
    margin: 0px;
}
#right_editor_wrap {
    width: 50vw;
}

#title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #47adc9;
    margin: 0;
    padding: 5px;
}
#titles {
    overflow: auto;
    background-color: azure;
    padding-left: 5px;
    padding-right: 5px;
}
#old_title {
    float: left;
    margin: 0;
}
#new_title {
    float: right;
    margin: 0;
}
#editor_1 {
    height: 36vh;
    overflow-x: auto;
}
#editor_2 {
    height: 92vh;
    z-index: 0;
    width: 100%;
    overflow-x: auto;
}

#editor_1_wrap {
    background-color: #cccccc;
    border-bottom: 1px solid #222222;
    width: 100%;
    z-index: 0;
}

#horizontal_dragbar {
    background-color: #662277;
    width: 100%;
    height: 5px;
    cursor: row-resize;
    opacity: 1;
}
#vertical_dragbar {
    background-color: #007700;
    width: 5px;
    cursor: col-resize;
    opacity: 1;
    height: 97vh;
}
#editor_bars_wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    /* overflow: auto; */
}
#multiple_editor_wrapper {
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: row;
    background-color: aqua
}
#console {
    /* width: 100%; */
    height: 60vh;
    background-color: azure;
    overflow-y: scroll;
    z-index: 0;
    padding-left: 10px;
    
}
#errors-list {
    display: flex;
    flex-direction: column;
}
.to-fix-error {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.error-reason {
    word-wrap: break-word;
    padding-right: 15px;
    overflow-x: hidden;
}
.striked {
    text-decoration: line-through;
}
#submit-btn {
    width: 100%;
    height: 5vh;
    
}
#loader {
    position: relative;
    border: 36px solid #f3f3f3;
    border-radius: 50%;
    border-top: 36px solid #3498db;
    width: 150px;
    height: 150px;
    left:45%;
    top:50%;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 1000;
    position: absolute
  }
  #timers {
      text-align: center;
      margin-bottom: 0px;
      padding-bottom: 0px;
      background-color: cadetblue;
  }