.guru_modal {
    display: none;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -85%);
    background: #282a36;
    width: 60%;
    height: 40%;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: white;
    border:1vw solid #626262;
    border-radius: 1vw;
    background-image: url('../assets/pcb4.png');
}
.guru_modal:hover{
    cursor: help;
}
.guru_modal.visible {
    display: block;
}

.guru_modal.toBlue {
    background: #282a36;
    background-image: url('../assets/pcb4.png');
}

.guru_modal__header {
    color: white;
    background: #282a36;
    line-height: 50px;
    text-align: center;
    position: relative;
    height: 6%;
    box-sizing: border-box;
    background-image: url('../assets/pcb4.png');
    
}

.guruSays{
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;

}
.guru_modal__header a {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 0 20px;
    font-size: 16px;
    background: #ff0000;
    height: 100%;
}
.guru.portrait{
    position: relative;
    object-fit: cover;
    max-width: 90%;
    min-width: 30%;
    height: 90%;
    background-size: contain;
    top: 4%;
    left: 1%;
    border:1vw solid #626262;
    border-radius: 1vw;
}

.guru.container{
    position: relative;
    height: 90%;
    max-width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #282a36;
    border:1vw  #626262;
    border-radius: 1vw;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

/* GIANT-ASS CHEAT! */
.js-close-modal{
    color: transparent;
    border-color: transparent;
    background-color: transparent;  
}

