body {
    background-image: url('../assets/bg.png');
    width: 100vw;
    height: 100vh;
}

#leader {
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
}

td {
    font-weight: bolder;
    text-transform: uppercase;

}

.mdl-data-table {
    background-color: #626262;
    color: #799dff;
}

.transparent {
    background: #0000 !important;
}

.hover {
    transition: box-shadow ease .6s, background ease .6s;
}

.hover:hover {
    box-shadow: 0 0 15px 5px rgba(255, 251, 213, 0.714);
    background: rgba(255, 251, 213, 0.714) !important;
}