#editor {
    width: 800px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15;
    margin: auto;
}

#editor2 {
    width: 800px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15;
    margin: auto;
}

#editor3 {
    width: 800px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15;
    margin: auto;
}
#editor4 {
    width: 800px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15;
    margin: auto;
}
#editor5 {
    width: 800px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15;
    margin: auto;
}
#editor6 {
    width: 800px;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15;
    margin: auto;
}
#editor7 {
    width: 800px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15;
    margin: auto;
}
#editor8 {
    width: 800px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15;
    margin: auto;
}
#editor9 {
    width: 800px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15;
    margin: auto;
}
#editor10 {
    width: 800px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15;
    margin: auto;
}
.SA {
    color: #ff8686;
}

.Organization {
    color: #ffd186;
}

.VR {
    color: #e9ff86;
}

.SbL {/*used to be "supported by language", now used in "variable manipulation"*/
    color: #86ff96;
}

.Textual {/*used to be "textual", now used in "documentation"*/
    color: #86ffe5;
}

.Resource {
    color: #86a6ff;
}

.Logic {
    color: #ac86ff;
}

.Interface {
    color: #ff86f9;
}

.topText {
    text-align: center;
    position: relative;
    color: white;
    margin: auto;
    top: 80px;
    /* border:1px solid black; */
}

.editorDiv {
    width: 100%;
    height: 40%;
    background-image: url('../assets/pcb4.png');
    background-color: #626262;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* border:10px solid red; */
    margin: auto;
}
.tutorial-explanation{
    display: none;
}
.editorBtn {
    position: relative;
    transition: box-shadow ease .6s, background ease .6s;
    transform: scale(.5);
    padding: 0.3%;
    left: 50%;
    transform: translate(-50%, 250%);
    border: transparent !important;
    color: #282a36;
    background-color: #64144c;

}

.backBtn {
    position: relative;
    transition: box-shadow ease .6s, background ease .6s;
    transform: scale(.5);
    left: 50%;
    transform: translate(-50%, 100%);
    border: transparent !important;
    color: #282a36;
    background-color: #64144c;
}

.hover {
    transition: box-shadow ease cubic-bezier(1, 0, 0, 1);
    transition: background-color ease cubic-bezier(1, 0, 0, 1);
}

.editorBtn:hover {
    box-shadow: 0 0 3px 3px #fff;
    background-color: #fff;
    color: #64144c;
}

.backBtn:hover {
    box-shadow: 0 0 3px 3px #fff;
    background-color: #fff;
    color: #64144c;
}

.editorBtn:disabled {
    background-color: #cccccc;
    color: #666666;
}

.typeImg {
    position: relative;
    height: 100px;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    /* margin-left: auto;
    margin-right: auto; */
    /* border:1px solid black; */
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tutorial-info {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
}

#tutorial-logo {
    width: 60px;
    height: 60px;
    background-image: "assets/abstract_space_tutorial.png";
    padding-top: 10px;
    padding-bottom: 10px;
}

.ace_active-line_tuto {
    background: #07f843
}

.header {
    background-color: #282a36;
}

.carouselBtn {
    height: 50px!important;
    width: 50px!important;
    background-color: #799dff!important;
    border-radius: 50%;
    display: inline-block;
}

.carousel-control-next-icon {
    background-size: 50% 50%!important;
}
.carousel-control-prev-icon {
    background-size: 50% 50%!important;
}